<!DOCTYPE html>
<!-- https://www.w3schools.com/howto/howto_js_toggle_password.asp -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="LoginPage.css" />  
</head>
    <body>

        <div class="custom-nav">
            <span>
                <img src="/assets/images/Logo/Logo.png" alt="logo"/>
                <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
                <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
                <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
                <a class="custom-a" href="/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
                <button type="button" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
                <button type="button" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
                <button type="button" id = "profilePage" class="nav-button" >Profile Page</button>
            </span>
        </div>
        
        <div class="formheader">
            <h1 class="formtitle">Login Page</h1>
        </div>

        <br />
        <br />
        <form action="javascript:void(0);" id="loginForm">
        <input type="text" id="add-username" placeholder="UserName">
        
        <br />
        <br />
        <input type="password" id="add-password" autocomplete="on" placeholder="Password" >
        </b>
        <br />
        <br />
        
        <input type="checkbox" onclick="myFunction()">Show Password
        <button type="button" id = "Login" >Login</button>
        <br/><br/>
            <div id="button"><a href="http://127.0.0.1:5501/views/RegistrationPage/RegistrationPage.html">Register</a></div>
        </form>
        <p id = "Response">Generated Response</p>

        <footer>
            <span>&copy; 2021</span>
            <a class="custom-a" href="/views/Privacy-Policy/PrivacyPolicy.html">Privacy Policy</a>
        </footer>


        <script src="LoginPage.js" asp-append-version="true"></script>
    </body>
</html>
