<!DOCTYPE html>
<!-- https://www.w3schools.com/howto/howto_js_toggle_password.asp -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="site.css" />  
</head>
<body>
    
    <nav>
        <h2>LoginPage</h2>
    </nav>
        <br />
        <br />
        <form action="javascript:void(0);" id="loginForm">
        <input type="text" id="add-username" placeholder="UserName">
        
        <br />
        <br />
        <input type="password" id="add-passHash" placeholder="Password" >
        </b>
        <br />
        <br />
        
        <!-- An element to toggle between password visibility -->
        <input type="checkbox" onclick="myFunction()">Show Password
        <input type="submit" value="Login">
        <br/><br/>
        <div id="button"><a href="http://127.0.0.1:5501/views/RegistrationPage/RegistrationPage.html">Register</a></div>
    </form>
</div>
    <p id = "Response">Generated Response</p>


    <script src="LoginPage.js" asp-append-version="true"></script>
</html>
