<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Garage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="GarageStyles.css">
    </head>
    <body>
        <div class="header">
            <h1 class="garage-name">Garage</h1>
        </div>

        <div id="shelf-dropdown">
            <select>
                <option></option>
            </select>
                
            
        </div>
        <div class="shelf-view">

        </div>
        <div class="build-view"></div>
    </body>
</html>