<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Garage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="GarageStyles.css">
    </head>
    <body>
        <div class="header">
            <h1 class="garage-name">Garage</h1>
        </div>
        <div id="garage-nav" class="sidenav">

        </div>
        <div class="shelf-region">
            <select id="shelf-dropdown">
                <option>Option 1</option>
            </select>
            <div id="shelf" class="shelf-view">
                <div class="component-card">
                    <div class="card-content">

                    </div>    
                </div>
            </div>
        </div>
        <div class="build-view">
            <div class="build-rectangle">
                <div class="build-image">

                </div>
                <div class="build-details">

                </div>
            </div>
        </div>
        <script src="GaragePage.js" asp-append-version="true"></script>
    </body>
</html>