<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Component Catalog</title>
    <link rel="stylesheet" href="ComponentCatalog.css" />

</head>

<body>

    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo"/>
            <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
            <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
            <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
            <a class="custom-a" href="/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <button type="button" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
            <button type="button" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
        </span>
    </div>

    <div class="formheader">
        <h1 class="formtitle">Component Catalog</h1>
    </div>

    <select class="model-number-dropdown">
        <option>Model Number</option>
    </select>

    <div class="list-of-divs">
        <div class='product-table'></div>
    </div>
    <div class="side-nav">
        <h1>Filters</h1>
        <h3>Product Type</h3>

        <input type="checkbox" class="checkbox-filter" name="build" id="motherboard-button" checked>
        <label for="motherboard-button">Motherboard</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="cpu-button" checked>
        <label for="cpu-button">CPU</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="gpu-button" checked>
        <label for="gpu-button">GPU</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="case-button" checked>
        <label for="case-button">Case</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="power supply-button" checked>
        <label for="psu-button">Power Supply</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="ram-button" checked>
        <label for="ram-button">RAM</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="ssd-button" checked>
        <label for="ssd-button">SSD</label><br>
        <input type="checkbox" class="checkbox-filter" name="build" id="hard drive-button" checked>
        <label for="hd-button">HD</label><br>

        <h3>Price</h3>
        <input type="radio" class="checkbox-filter" name="likes" id="price_desc" checked>
        <label for="F1">Most Expensive</label><br>
        <input type="radio" class="checkbox-filter" name="likes" id="price_asc">
        <label for="F1">Least Expensive</label><br>
        <input type="radio" class="checkbox-filter" name="likes" id="name_asc">
        <label for="F1">A to Z</label><br>
        <input type="radio" class="checkbox-filter" name="likes" id="name_desc">
        <label for="F1">Z to A</label><br>

        <h4>Minimum Price
            <input class='minimum-value-input' type="text" placeholder="Min">
        </h4>
        <h4>Maximum Price
            <input class='maximum-value-input' type="text" placeholder="Max">
        </h4>


        <button style="text-align:center" onclick="getProductsByFilter()">Apply Filter</button>

    </div>

    <div class='stars'>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
    </div>

    <footer>
        <span>&copy; 2021</span>
        <a class="custom-a" href="/views/Privacy-Policy/PrivacyPolicy.html">Privacy Policy</a>
    </footer>

    <script src="ComponentCatalog.js" asp-append-version="true"></script>

</body>

</html>