* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0; 
  }

  .character-count {
    font-weight: bold;
  }

  .label {
    color: white;
    padding: 8px;
    font-family: Arial;
  }

  .count {
    color: white;
    padding: 8px;
    font-family: Arial;
    background-color: #2ECC71;
    border-radius: 25px;
  }

  .formheader {
    padding: 10px;
    text-align: center;
    background: #5DADE2;
    color: white;
    overflow: auto hidden;
    height: 100px;
  }

  .formheader .formtitle {
    color: whitesmoke;
  }

  .formdetails {
      text-align: center;
  }

  .formdetails .field {
    padding-top: 40px;
  }

  .formdetails .characters-left {
    padding-top: 10px;
  }

  .formdetails .submit-btn {
    width: 50%;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background: lightgrey;
    border: 0;
    outline: none;
    border-radius: 50px;
    color:rgb(47, 72, 79);
    font-size: 18px;
    font-weight: lighter;
  }

  .formdetails .submit-btn:hover {
    color: black;
    font-weight: bold;
    box-shadow: 0 0 20px 9px #01168f1f;
    background: #5DADE2;
  }

  .formdetails .text-field {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    border: 2px solid #ccc
  }

  .formdetails textarea{
    resize: none;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 75%;
    height: 150px;
  }
