<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="MPBform.css">
    </head>
    <body ng-controller="testForm">

        <div class="formheader">
            <h1 class="formtitle">Build Form</h1>
        </div>

        <div class="formdetails">
            <form action="javascript:void(0);" method="POST" onsubmit="addItem()">
                <br /><label>Enter Username:</label><br />
                <input type="text" id="add-username" placeholder="username">
                <br />
                <br />
                <label>Enter Description:</label>
                <br />
                <textarea onkeyup="textCounter(this,'counter',10000);" id="add-message" rows="10" cols="100" placeholder="review"></textarea>
                <br />
                <label>Characters left:</label>
                <input disabled maxlength="3" size="3" value="10000" id="counter">
                <br />
                <br />
                <label>Enter Path to image file:</label><br />
                <input type="text" id="add-imagepath" placeholder="file path">
                <br />
                <br />
                <input type="file" id="add-imagepath" placeholder="file path">
                <br />
                <br />
                <input type="submit" value="Submit build" class="submit-btn" onclick="location.href='../MPBmain/MPB.html';">
            </form>
        </div>

        <script src="" async defer></script>
        <script>
            function textCounter(field, field2, maxlimit) {
                var countfield = document.getElementById(field2);
                if (field.value.length > maxlimit) {
                    field.value = field.value.substring(0, maxlimit);
                    return false;
                } else {
                    countfield.value = maxlimit - field.value.length;
                }
            }
        </script>
    </body>
</html>