<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Component Catalog</title>
    <link rel="stylesheet" href="Recommender.css" />

</head>

<body onload="hideButtons()">
    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo"/>
            <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
            <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
            <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
            <a class="custom-a" href="/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <button type="button" id = "loginPage" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
            <button type="button" id = "registrationPage" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
            <button type="button" id = "profilePage" class="nav-button" >Profile Page</button>
        </span>
    </div>

    <div class="formheader">
        <h1 class="formtitle">Build Recommender</h1>
    </div>

    <div class="formdetails">
        <form action="javascript:void(0);" id="build-budget-form">

            <div class="field">
                <label class="field-label">Enter Budget:</label>
                <div class="title-input">
                    <input type="number" class="text-field" id="budget" placeholder="e.g. 1000" required>
                </div>
            </div>

            <input type="submit" class="submit-btn" value="Create Build">
        </form>
    </div>

    <div class="item">
        <div class="item-type">
            <h4>Type</h4>
        </div>
        <div class="item-image">
            <h4>Image</h4>
        </div>
        <div class="item-title">
            <h4>Product</h4>
        </div>
        <div class="item-price">
            <h4>Price</h4>
        </div>
    </div>

    <div class="items-container" id="items-container">

    </div>

    <div class="formdetails">
        <form action="javascript:void(0);" id="build-save-form">

            <div class="field">
                <label class="field-label">Enter Build Name:</label>
                <div class="title-input">
                    <input type="text" class="text-field" id="budget" placeholder="e.g. Dominator" required>
                </div>
            </div>

            <input type="submit" class="submit-btn" value="Save Build">
        </form>
    </div>

    <footer>
        <span>&copy; 2021</span>
        <a class="custom-a" href="/views/Privacy-Policy/PrivacyPolicy.html">Privacy Policy</a>
    </footer>

    <script src="Recommender.js" asp-append-version="true"></script>

</body>

</html>