.title {
    text-align:center;
    margin-top: 50px;
}

table, th, td, tr {
    border: 1px solid black;
}

.custom-nav {
    padding: 10px;
    text-align: left;
    background: #34495E;
    color: white;
    height: 100px;
  }

  .custom-nav img {
    width: 100px;
    height: 75px;
    float: left;
  }

  .custom-nav .nav-title {
    padding-left: 5px;
    padding-right: 20px;
    color: whitesmoke;
    display: inline-block;
  }

  .custom-nav .custom-a {
    color: whitesmoke;
    padding-right: 10px;
  }

  .custom-nav .custom-a:hover {
    color: whitesmoke;
    padding-right: 10px;
    color: #D35400;
  }


  .custom-nav .nav-button {
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;

    display: block;
    width: 100px;
    border: none;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border-radius: .25rem;
    text-align: center;
    text-transform: uppercase;
    transition: .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
  }

  .custom-nav .nav-button:hover {
    border-color: #B9770E;
    background-color: #CCD1D1;
    color: #D35400;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }

  .custom-nav .nav-button:active {
    border-color: #B9770E;
    background-color: #F39C12;
    color: black;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }
