<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Build Post</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="MPBpost.css">
        <script src="/config.js"></script>
    </head>
    <body ng-controller="buildPost">

        <div class="custom-nav">
            <span>
                <img src="/assets/images/Logo/Logo.png" alt="logo"/>
                <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
                <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
                <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
                <a class="custom-a" href="">Component Catalog</a>
                <button type="button" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
                <button type="button" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
            </span>
        </div>
    
        <div class="formheader">
            <h1 class="formtitle">Build Post</h1>
        </div>

        <div id="main"></div>

        <div class="reviews-header">
            <h1 class="formtitle">Write a Review!</h1>
        </div>

        <form action="javascript:void(0);" method="POST" id="review-form">
            <br /><label>Enter Username:</label><br />
            <input type="text" id="add-username" placeholder="username">
            <br />
            <br />
            <label>Star Rating:</label><br />
            <div class="centerStar">
                <div class="stars">
                    <input type="radio" id="five" name="rate" value="5">
                    <label for="five"></label>
                    <input type="radio" id="four" name="rate" value="4">
                    <label for="four"></label>
                    <input type="radio" id="three" name="rate" value="3">
                    <label for="three"></label>
                    <input type="radio" id="two" name="rate" value="2">
                    <label for="two"></label>
                    <input type="radio" id="one" name="rate" value="1">
                    <label for="one"></label>
                </div>
            </div>
            <br />
            <br />
            <br />
            <label class="field-label">Enter Review:</label>
            <div class="description-input">
                <textarea class="custom-textarea" id="add-message" placeholder="review" required></textarea>
            </div>            
            <br />
            <label>Characters Left:</label>
            <input disabled maxlength="3" size="3" value="10000" id="counter">
            <br />
            <br />
            <br />
            <br />
            <label>Upload an Image:</label><br />
            <input type="file" id="add-image" placeholder="file path">
            <br />
            <br />
            <input type="submit" value="Add" class="submit-btn">
        </form>

        <br />
        <br />
    
        <div class="reviews-header">
            <h1 class="formtitle">Reviews Section</h1>
        </div>
    
        <div class="all-reviews" id="all-reviews"></div>
    
        <br />
        <br />
    
        <div id="editForm">
            <h3>Edit</h3>
            <form action="javascript:void(0);" id="update-form">
                <input type="hidden" id="edit-id">
                <input type="text" id="edit-message">
                <input type="text" id="edit-starRating">
                <input type="file" id="edit-filePath">
    
                <input type="submit" value="Save">
                <a id="close-input" aria-label="Close">&#10006;</a>
            </form>
        </div>

        <footer>
            <span>&copy; 2021</span>
            <a class="custom-a" href="/views/Privacy-Policy/PrivacyPolicy.html">Privacy Policy</a>
        </footer>

        <script src="MPBpost.js" asp-append-version="true"></script>
    </body>
</html>