* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: Arial;
  margin: 0;
  background-color: rgb(231, 231, 231); 
}

/******************************** Navigation Bar************************************/  

.custom-nav {
  padding: 10px;
  text-align: left;
  background: #34495E;
  color: white;
  height: 100px;
}

.custom-nav img {
  width: 100px;
  height: 75px;
  float: left;
}

.custom-nav .nav-title {
  padding-left: 5px;
  padding-right: 20px;
  color: whitesmoke;
  display: inline-block;
}

.custom-nav .nav-title:hover {
  cursor: pointer;
}

.custom-nav .custom-a {
  color: whitesmoke;
  padding-right: 10px;
}

.custom-nav .custom-a:hover {
  color: whitesmoke;
  padding-right: 10px;
  color: #D35400;
}

.custom-nav .nav-button {
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  float: right;

  display: block;
  width: 100px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border-radius: .25rem;
  text-align: center;
  text-transform: uppercase;
  transition: .15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
}

.custom-nav .nav-button:hover {
  border-color: #B9770E;
  background-color: #CCD1D1;
  color: #D35400;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.custom-nav .nav-button:active {
  border-color: #B9770E;
  background-color: #F39C12;
  color: black;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

/********************************************************************/  

/******************************** Header ************************************/  

.formheader {
  padding: 10px;
  text-align: center;
  background: #C0392B;
  color: white;
  overflow: auto hidden;
  height: 100px;
}

.formheader .formtitle {
  color: whitesmoke;
}

/********************************************************************/  

h2 {
    max-width: 50%;
    margin:auto;
    margin-top:50px;
    text-align: center;
}

/* h3 {
    font-size: 25px;
} */

.image-rating-review{
    text-align: center;
}

.product-image{
    margin-top:50px;
}

.side-nav {
  margin-top: 200px;
  height: 700px;
  height: 900px;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(231, 231, 231);
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  }

.side-nav h1{
    max-width: 100%;
    text-align: center;
    margin-bottom: 75px;
    text-decoration: underline;
}

.side-nav h3, .side-nav text {
    font-size: 25px;
    max-width:250px;
    word-wrap: break-word;
}

text {
    font-size: 20px;
}

.product-container{
  margin-left: 300px;
  margin-bottom: 150px;
  font-size: 28px; 
  padding: 0px 10px;
  overflow: hidden;
}

.vendor-information-table{
     margin:auto;
    margin-top:100px;
  display: table;   
  border: 1px solid black;         
}

.vendor-information-row-div {
    float: left; 
    width: 200px;
    height: 60px;
    display: block;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}
.vendor-information-row-header-div { 
    float: left; 
    width: 200px;
    height: 50px;
    display: block;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
  }

  .vendor-information-row-header {
    display: flex;
    width: auto;
    clear: both;
    position: relative;
    line-height: 50px;
  }
  
  .notify-me-button {
    text-align: center;
    margin:auto;
    margin-top:50px;
    width:100px;
    height:50px;
    display:none;
  }

  text {
      font-size: 20px;
      text-align: center;
  }

  a {
      /* font-size:20px */
  }

  .checked {
    color:gold;
}

.stars {
    font-size:35px;
    display: inline-block;
  }

    /******************************** Footer ************************************/  


    footer {
      padding: 10px;
      background-color: darkgrey;
      position: relative;
      left: 0;
      bottom: 0;
      height: 150px;
      width: 100%;
      overflow: hidden;
      margin-top: 50px;
      margin-bottom: 0;
      z-index: 1;
      overflow-x: hidden;
      text-align: center;
      padding-bottom: 20px;
    }
    
    footer .custom-a {
      padding-right: 10px;
    }
    
    footer .custom-a:hover {
      color: whitesmoke;
      padding-right: 10px;
      color: #D35400;
    }
    
    /********************************************************************/ 