<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendor Inventory Management</title>
    <link rel="stylesheet" href="ProductDetails.css" />

</head>

<body onload="hideButtons()">

    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo" />
            <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
            <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
            <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
            <a class="custom-a" href="/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <button type="button" id = "loginPage" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
            <button type="button" id = "registrationPage" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
            <button type="button" id = "profilePage" class="nav-button" >Profile Page</button>
        </span>
    </div>

    <div class="formheader">
        <h1 class="formtitle">Product Details</h1>
    </div>


    <div class="side-nav">
        <h1>Specifications</h1>

    </div>

    <div class="product-container">
        <div class='image-rating-review'>
            <h2 class='product-title'></h2>
            <div class='product-image'></div>
            <div class='average-rating-and-total-reviews'></div>
        </div>

        <button class='notify-me-button'>Notify me!</button>

        <div class='vendor-information-table'>
            <div class='vendor-information-row-header'>
                <div class='vendor-information-row-header-div'>Vendor Name</div>
                <div class='vendor-information-row-header-div'>Price</div>
                <div class='vendor-information-row-header-div'>Availability</div>
                <div class='vendor-information-row-header-div'>Link</div>
            </div>
        </div>
        <div class='stars' style="display:none">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </div>
    </div>

    <footer>
        <span>&copy; 2021</span>
        <a class="custom-a" href="/views/Privacy-Policy/PrivacyPolicy.html">Privacy Policy</a>
    </footer>

    <script src="ProductDetails.js" asp-append-version="true"></script>

</body>

</html>