<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registered Users List</title>
    <link rel="stylesheet" href="RegisteredUsersList.css" />

</head>

<body onload="hideButtons()">
    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo"/>
            <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
            <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
            <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
            <a class="custom-a" href="/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <button type="button" id = "loginPage" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
            <button type="button" id = "registrationPage" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
            <button type="button" id = "profilePage" class="nav-button" >Profile Page</button>
        </span>
    </div>

    <div class="formheader">
        <h1 class="formtitle">Registered Users</h1>
    </div>
    
    <select class="PermissionsDropdown">
        <option value="BasicRole">BasicRole</option>
        <option value="SystemAdmin">SystemAdmin</option>
        <option value="DelegateAdmin">DelegateAdmin</option>
        <option value="VendorRole">VendorRole</option>
        <option value="UnregisteredRole">UnregisteredRole</option>
    </select>
    <div id="listOfDivs">
    </div>
    <footer>
        <span>&copy; 2021</span>
        <a class="custom-a" href="/views/Privacy-Policy/PrivacyPolicy.html">Privacy Policy</a>
    </footer>
    <script src="RegisteredUsersList.js" asp-append-version="true"></script>

</body>

</html>