* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: Arial;
  margin: 0;
  background-color: whitesmoke; 
}

.listOfDivs {
  display:inline-block;
  text-align: center;
  position: relative;
}

.innerDiv {
  margin-top: 100px;
  text-align: center;
  display:block;
  position:relative;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(231, 231, 231);
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 0px solid black;
}

.sidenav h1, h3{
  text-align: center;
}

.filter-button {
  display: block; 
  margin: 0 auto;
  margin-top: 50px;
}

.getItems {
  margin:0 auto;
}

.hideAdd {
  display:none;
}

.infoDiv {
  display:none;
}

table, td {
  border: 1px solid black;
  margin-bottom: 100px;
}

tr {
  text-align:center;
}

textarea {
  font-family:"Arial";
  font-size:14px;
  resize: none;
  padding: 5px 5px 5px 5px;
  margin-top:8px
}

.successButton {
  display:none;
}

.largePhoto {
  position: absolute;
  border: 1px solid black;
}

.displayNone {
  display:none;
}

.div-table {
  display: table;   
  margin-bottom: 100px;  
  margin-left: 200px;    
  border: 1px solid black;         
}
  
.div-table-row {
  display: flex;
  width: auto;
  clear: both;
  position: relative;
}

.div-table-col-image {
  float: left; 
  width: 200px;
  height: 75px;
  display: flex;
  position: relative;
  line-height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}

img {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 8px;
}

.div-table-col { 
  float: left; 
  width: 100px;
  height: 75px;
  display: block;
  position: relative;
  /* text-align: center; */
  word-wrap: break-word;
  overflow: auto;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}


.textClass {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow:auto;
}

.modelNumberDropDown {
  width:150px;
  text-align: center;
}

#modelNumberDropDown option{
  width:100px;
  text-align: center;
  background-color: black;
}

/******************************** Navigation Bar************************************/  

.custom-nav {
  padding: 10px;
  text-align: left;
  background: #34495E;
  color: white;
  height: 100px;
}

.custom-nav img {
  width: 100px;
  height: 75px;
  float: left;
}

.custom-nav .nav-title {
  padding-left: 5px;
  padding-right: 20px;
  color: whitesmoke;
  display: inline-block;
}

.custom-nav .nav-title:hover {
  cursor: pointer;
}

.custom-nav .custom-a {
  color: whitesmoke;
  padding-right: 10px;
}

.custom-nav .custom-a:hover {
  color: whitesmoke;
  padding-right: 10px;
  color: #D35400;
}

.custom-nav .nav-button {
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  float: right;

  display: block;
  width: 100px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border-radius: .25rem;
  text-align: center;
  text-transform: uppercase;
  transition: .15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
}

.custom-nav .nav-button:hover {
  border-color: #B9770E;
  background-color: #CCD1D1;
  color: #D35400;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.custom-nav .nav-button:active {
  border-color: #B9770E;
  background-color: #F39C12;
  color: black;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

/********************************************************************/  

/******************************** Header ************************************/  

.formheader {
  padding: 10px;
  text-align: center;
  background: #85C1E9;
  color: white;
  overflow: auto hidden;
  height: 100px;
}

.formheader .formtitle {
  color: black;
}

/********************************************************************/  

/******************************** Footer ************************************/  

footer {
  padding: 10px;
  background-color: darkgrey;
  position: relative;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 0;
  z-index: 1;
  overflow-x: hidden;
  text-align: center;
  padding-bottom: 20px;
}

  footer .custom-a {
  padding-right: 10px;
}

  footer .custom-a:hover {
  color: whitesmoke;
  padding-right: 10px;
  color: #D35400;
}

/********************************************************************/ 

