<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendor Inventory Management</title>
    <link rel="stylesheet" href="RegisteredUsersList.css" />

</head>

<body onload="getUsers()">

    <select class="PermissionsDropdown">
        <option value="BasicRole">BasicRole</option>
        <option value="SystemAdmin">SystemAdmin</option>
        <option value="DelegateAdmin">DelegateAdmin</option>
        <option value="VendorRole">VendorRole</option>
        <option value="UnregisteredRole">UnregisteredRole</option>
    </select>


    <h1>Registered Users</h1>
    <div id="listOfDivs">
    </div>
    <!-- <body> -->
    <div id="button"><a href="http://127.0.0.1:5501/views/UMUser(Admin)/UMUser(Admin).html">Back to profile page</a></div>
    <script src="RegisteredUsersList.js" asp-append-version="true"></script>

</body>

</html>