<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendor Inventory Management</title>
    <link rel="stylesheet" href="RegisteredUsersList.css" />

</head>

<body onload="getUsers()">
    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo"/>
            <h1 class="nav-title">AutoBuild</h1>
            <a class="custom-a" href="http://127.0.0.1:5501/views/Recommender/Recommender.html">Home</a>
            <a class="custom-a" href="http://127.0.0.1:5501/views/MPBmain/MPB.html">MPB</a>
            <a class="custom-a" href="http://127.0.0.1:5501/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <a class="custom-a" href="">Etc.</a>
            <button type="button" id = "profilePage" >Profile Page</button>
        </span>
    </div>


    <h1>Registered Users</h1>
    
    <select class="PermissionsDropdown">
        <option value="BasicRole">BasicRole</option>
        <option value="SystemAdmin">SystemAdmin</option>
        <option value="DelegateAdmin">DelegateAdmin</option>
        <option value="VendorRole">VendorRole</option>
        <option value="UnregisteredRole">UnregisteredRole</option>
    </select>
    <div id="listOfDivs">
    </div>
    <!-- <body> -->
    <script src="RegisteredUsersList.js" asp-append-version="true"></script>

</body>

</html>