<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profile Page(Admin)</title>
        <link rel="stylesheet" href="UMUser(Admin).css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        * {
        box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
        float: left;
        width: 50%;
        padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        </style>
    </head>


<body>
    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo"/>
            <h1 class="nav-title" onclick="location.href='/views/MPBmain/MPB.html'">AutoBuild</h1>
            <a class="custom-a" href="/views/MPBmain/MPB.html">Home</a>
            <a class="custom-a" href="/views/Recommender/Recommender.html">PC Builder and Upgrader</a>
            <a class="custom-a" href="/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <button type="button" id = "loginPage" class="nav-button" onclick="location.href='/views/LoginPage/LoginPage.html'">Login</button>
            <button type="button" id = "registrationPage" class="nav-button" onclick="location.href='/views/RegistrationPage/RegistrationPage.html'">Register</button>
            <button type="button" id = "profilePage" class="nav-button" >Profile Page</button>
        </span>
    </div>

    <div class="formheader">
        <h1 class="formtitle">Admin Profile Page</h1>
    </div>
<form>
    <div class="row">
        <div class="column">
           </p> Change username </p>
                  <input type="text" id="add-username" placeholder="Username"> </br> </br>
                  <button type="button" id = "updateUsername" >Update username</button>
                  </br> </br>
              </p> Change email </p>
                  <input type="text" id="add-email" placeholder="Email"> </br> </br>
                  <button type="button" id = "updateEmail" >Update email address</button>
                  </br> </br>
              </p> Change password </p>
                  <input type="password" id="add-password" autocomplete="on" placeholder="Password">
                  <p>Confirm password.</p>
                  <input type="password" id="add-passwordCheck" autocomplete="on" placeholder="Password Check">
      
                  </br></br>
                  <button type="button" id = "updatePassword" >Update password</button>
                </br></br></br>
                <button type="button" id = "Logout" >Logout</button>
                </br></br>
                <button type="button" id = "Delete" >Delete this account</button>
        </div>
        <div class="column">
          </p> Veiw registered users </p>
          <div id="button"><a href="http://127.0.0.1:5501/views/RegisteredUsersList/RegisteredUsersList.html">View users</a></div>
                  </br> </br>
        </div>
      </div>


</form>

        <script src="UMUser(Admin).js" asp-append-version="true"></script>
        <script type="text/javascript">
        </script>


</body>
</html>
