<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="Connection" connectionString="Server=localhost; Database=DB;Trusted_Connection=True;" />  -->
	<add name="ConnectionString1" connectionString="Data Source=localhost;Initial Catalog=DB;Integrated Security=True"/>
	</connectionStrings>
</configuration>
