* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: whitesmoke; 
  }

  .formheader {
    padding: 10px;
    text-align: center;
    background: #DC7633;
    color: white;
    overflow: auto hidden;
    height: 100px;
  }

  .formheader .formtitle {
    color: whitesmoke;
  }
  
  .sidenav {
    margin-top: 100px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(231, 231, 231);
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 0px solid black;
  }
  
  /* .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  } */

  .sidenav h1 {
      color: #191b2b;
      text-align: center;
  }

  .sidenav h3 {
      color: #191b2b;
      text-align: center;
  }
  
  .sidenav label {
      font-size: smaller;
      color: #191b2b;
  }

  .sidenav .postbutton {
    display: block;
    width: 100%;
    border: none;
    background-color: #4285f4;
    color: #fff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .sidenav .postbutton:hover {
    border-color: #0062cc;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }

  .sidenav .postbutton:active {
    border-color: #005cbf;
    background-color: #0b51c5;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .gridbuilds {
    float: left;
    padding: 10px;
    max-width: 320px;
    width: 50%;
  }

  .blockbuild {
    box-shadow: 0 4px 2px -3px gray;
    padding: 16px;
    text-align: left;
    background-color: #F7F9F9;
    border: 3px solid transparent;
    font-size: .5em;
    min-height: 400px;
    max-height: 400px;
    cursor: pointer;
  }

   .buildimage {
    width: 100%;
    min-width: 100%;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
  }

  .buildimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .blockbuild:hover {
      background-color: #ECF0F1;
      border: 3px solid #3498DB;
}

  @media screen and (max-width: 600px) {
    .gridbuilds {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }