<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Most Popular Builds</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="MPB.css">
        <script src="/config.js"></script>
    </head>
    <body onload="hideButtons()">
        <div class="custom-nav">
            <span>
                <img src="/assets/images/Logo/Logo.png" alt="logo"/>
                <h1 class="nav-title">AutoBuild</h1>
                <a class="custom-a" href="http://127.0.0.1:5501/views/Recommender/Recommender.html">Home</a>
                <a class="custom-a" href="http://127.0.0.1:5501/views/MPBmain/MPB.html">MPB</a>
                <a class="custom-a" href="http://127.0.0.1:5501/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
                <a class="custom-a" href="">Etc.</a>
                <button type="button" id = "loginPage" class="nav-button">Login</button>
                <button type="button" id = "registrationPage" class="nav-button">Register</button>
                <button type="button" id = "profilePage" >Profile Page</button>
            </span>
        </div>

        <div class="formheader">
            <h1 class="formtitle">Most Popular Builds</h1>
        </div>

        <div class="mpb">
            <div class="sidenav">
                <button type="button" class="postbutton" id="post-build-button">Post a build</button>
                <h1>Filters</h1>
                <h3>Search:</h3>
                    <input type="text" class="search-filter" id="sbn" placeholder="name">
                <h3>Build Type</h3>
                    <input type="radio" class="checkbox-filter" name="build" id="bta" value="">
                    <label for="F1">All</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt1" value="BuildType_GraphicArtist">
                    <label for="F1">Graphic Artist</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt2" value="BuildType_Gaming">
                    <label for="F2">Gaming</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt3" value="BuildType_WordProcessing">
                    <label for="F2">Word Processing</label><br>
                <h3>Likes</h3>
                    <input type="radio" class="checkbox-filter" name="likes" id="ld" value="DescendingLikes">
                    <label for="F1">Most Likes</label><br>
                    <input type="radio" class="checkbox-filter" name="likes" id="la" value="AscendingLikes">
                    <label for="F1">Least Likes</label><br>
            </div>

            <div class="main" id="main"></div>
        </div>

        <footer>
            <span>&copy; 2021</span>
            <a class="custom-a" href="">Privacy Policy</a>
        </footer>

        <script src="MPB.js" asp-append-version="true"></script>
    </body>
</html>