<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="MPB.css">
    </head>
    <body>
        <div class="mpb">
            <div class="sidenav">
                <button type="button" class="postbutton" onclick="location.href='../MPBform/MPBform.html';">Post a build</button>
                <h1>Filters</h1>
                <h3>Build Type</h3>
                    <input type="radio" class="checkbox-filter" name="build" id="bta">
                    <label for="F1">All</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt1">
                    <label for="F1">Graphic Artist</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt2">
                    <label for="F2">Gaming</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt3">
                    <label for="F2">Word Processing</label><br>
                <h3>Likes</h3>
                    <input type="radio" class="checkbox-filter" name="likes" id="ld">
                    <label for="F1">Most Likes</label><br>
                    <input type="radio" class="checkbox-filter" name="likes" id="la">
                    <label for="F1">Least Likes</label><br>
            </div>
            <div class="main">

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='../MPBpost/MPBpost.html';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="http://cdna.pcpartpicker.com/static/forever/images/userbuild/358512.a97c3b2732e2a4d83247e1105f455c63.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358574.3149732d58077f162041e8e062dab32e.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358545.9a0ce233109aa2a9a2092eb4e039396d.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358418.103372ff77e4a7243717efc538331481.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358268.9b23eccf69282f7582b9555e9b263ef9.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="http://cdna.pcpartpicker.com/static/forever/images/userbuild/358512.a97c3b2732e2a4d83247e1105f455c63.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358574.3149732d58077f162041e8e062dab32e.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358545.9a0ce233109aa2a9a2092eb4e039396d.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358418.103372ff77e4a7243717efc538331481.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358268.9b23eccf69282f7582b9555e9b263ef9.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="http://cdna.pcpartpicker.com/static/forever/images/userbuild/358512.a97c3b2732e2a4d83247e1105f455c63.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358574.3149732d58077f162041e8e062dab32e.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358545.9a0ce233109aa2a9a2092eb4e039396d.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358418.103372ff77e4a7243717efc538331481.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

                <div class="gridbuilds">
                    <div class="blockbuild" onclick="location.href='';">
                        <p>Title</p>
                        <div class="buildimage">
                            <img src="//cdna.pcpartpicker.com/static/forever/images/userbuild/358268.9b23eccf69282f7582b9555e9b263ef9.512.jpg">
                        </div>
                        <p>Username</p>
                        <p>Likes</p>
                        <p>Build Type</p>
                    </div>
                </div>

            </div>
        </div>
        <script src="MPB.js" async defer></script>
    </body>
</html>