<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="MPB.css">
        <link rel="stylesheet" href="/../FrontEnd/assets/images/MPB/3.jpg">
    </head>
    <body>

        <div class="formheader">
            <h1 class="formtitle">Most Popular Builds</h1>
        </div>

        <div class="mpb">
            <div class="sidenav">
                <button type="button" class="postbutton" onclick="location.href='../MPBform/MPBform.html';">Post a build</button>
                <h1>Filters</h1>
                <h3>Build Type</h3>
                    <input type="radio" class="checkbox-filter" name="build" id="bta">
                    <label for="F1">All</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt1">
                    <label for="F1">Graphic Artist</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt2">
                    <label for="F2">Gaming</label><br>
                    <input type="radio" class="checkbox-filter" name="build" id="bt3">
                    <label for="F2">Word Processing</label><br>
                <h3>Likes</h3>
                    <input type="radio" class="checkbox-filter" name="likes" id="ld">
                    <label for="F1">Most Likes</label><br>
                    <input type="radio" class="checkbox-filter" name="likes" id="la">
                    <label for="F1">Least Likes</label><br>
            </div>

            <div class="main" id="main"></div>
        </div>
        <script src="MPB.js" asp-append-version="true"></script>
        <script type="text/javascript">
            getItems();
        </script>
    </body>
</html>