<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profile Page</title>
        <link rel="stylesheet" href="UMUser.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    </head>


<body>
    <div class="custom-nav">
        <span>
            <img src="/assets/images/Logo/Logo.png" alt="logo"/>
            <h1 class="nav-title">AutoBuild</h1>
            <a class="custom-a" href="http://127.0.0.1:5501/views/Recommender/Recommender.html">Home</a>
            <a class="custom-a" href="http://127.0.0.1:5501/views/MPBmain/MPB.html">MPB</a>
            <a class="custom-a" href="http://127.0.0.1:5501/views/ComponentCatalog/ComponentCatalog.html">Component Catalog</a>
            <a class="custom-a" href="">Etc.</a>
        </span>
    </div>
    <h1>Profile Page</h1>

    <form>
    </p> Change username </p>
        <input type="text" id="add-username" placeholder="Username"> </br> </br>
        <button type="button" id = "updateUsername" >Update username</button>
        </br> </br>
    </p> Change email </p>
        <input type="text" id="add-email" placeholder="Email"> </br> </br>
        <button type="button" id = "updateEmail" >Update email address</button>
        </br> </br>
    </p> Change password </p>
        <input type="password" id="add-password" autocomplete="on" placeholder="Password">
        <p>Confirm password.</p>
        <input type="password" id="add-passwordCheck" autocomplete="on" placeholder="Password Check">

        </br></br>
        <button type="button" id = "updatePassword" >Update password</button>

        </br></br></br>
        <button type="button" id = "Logout" >Logout</button>

    </form>
        <script src="UMUser.js" asp-append-version="true"></script>
        <script type="text/javascript">
        </script>


</body>
</html>
