html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 13pt;
    background: whitesmoke;
}

label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

nav {
    height: 20%;
    min-height: 100px;
    max-height: 100px;
    background-color: #FFB646;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.8em;
    /*padding: 5px 10px 5px 10px; */
}

form {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.centerStar {
    display: flex;
    justify-content: center;
  }

.centerStar .stars{
    height: 150px;
    width: 500px;
    text-align: center;
}

.stars input {
    display: none;
}

.stars label{
    float: right;
    font-size: 100px;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
}

.stars label::before{
    content: '★';
}

.stars input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
    color:gold;
}

.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
    color:gold;
    text-shadow: 1px 1px goldenrod;
}

input {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    border: 2px solid #ccc
}

.submit-btn {
    width: 50%;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background: lightgrey;
    border: 0;
    outline: none;
    border-radius: 50px;
    color:rgb(47, 72, 79);
    font-size: 18px;
    font-weight: lighter;
}
  
.submit-btn:hover {
    color: black;
    font-weight: bold;
    box-shadow: 0 0 20px 9px #01168f1f;
    background: #3ab759;
}

textarea{
    resize: none;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 75%;
    height: 150px;
}

#reviews-saved {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

    #reviews-saved td, #reviews-saved th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #reviews-saved tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #reviews-saved tr:hover {
        background-color: #ddd;
    }

    #reviews-saved th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

.reviews-containter {
    background: #E5E8E8;
    margin: 20px;
    position:relative;
    padding: 20px;
    box-shadow: 0 4px 2px -3px gray;
    border: 3px solid transparent;
}

.reviews-containter:hover {
    border-color: #FFB646;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.reviews-containter .reviews-username{ 
    height:30px; 
    top:0;
    float: left;
    font-size: 1.5em;
}

.reviews-containter .reviews-date{ 
    padding-left: 10px;
    height:30px; 
    top:0;
    float: none;
    overflow: hidden;
    font-size: 1.5em;
    color: gray;
}

.reviews-containter .reviews-message{ 
    padding-left: 20px;
    padding-right: 20px;
    top:0;
    float: none;
    display: flex;
    overflow: hidden;
}

.reviews-containter .reviews-rating{ 
    padding-left: 20px;
    top:0;
    float: none;
    display: flex;
    overflow: hidden;
}

.reviews-containter .reviews-photo{ 
    width: 100%;
    min-width: 100%;
    max-height: 200px;
    overflow: hidden;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 5px;
}

.reviews-containter .reviews-photo .reviews-image{ 
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.reviews-containter .reviews-edit{ 
    padding-left: 20px;
    top:0;
    float: left;
}

.reviews-containter .reviews-edit .edit-btn {
    /* padding: 10px; */
    cursor: pointer;
    /* display: block;
    margin-top: 2rem; */
    margin-left: auto;
    margin-right: auto;
    background: #4285f4;
    outline: none;
    border-radius: .25rem;
    color:rgb(47, 72, 79);
    font-size: 1rem;
    font-weight: 400;
    border-color: #007bff;
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
    transition: .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);  
  }

  .reviews-containter .reviews-edit .edit-btn:hover {
    border-color: #0062cc;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }
  .reviews-containter .reviews-edit .edit-btn:active {
    border-color: #005cbf;
    background-color: #0b51c5;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }

.reviews-containter .reviews-delete{ 
    padding-left: 10px;
    height:30px; 
    top:0;
    float: none;
    overflow: hidden;
}

.reviews-containter .reviews-delete .delete-btn {
    /* padding: 10px; */
    cursor: pointer;
    /* display: block;
    margin-top: 2rem; */
    margin-left: auto;
    margin-right: auto;
    background: #E74C3C;
    outline: none;
    border-radius: .25rem;
    color:rgb(47, 72, 79);
    font-size: 1rem;
    font-weight: 400;
    border-color: #E74C3C;
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
    transition: .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);  
  }

  .reviews-containter .reviews-delete .delete-btn:hover {
    border-color: #EC7063;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }
  .reviews-containter .reviews-delete .delete-btn:active {
    border-color: #EC7063;
    background-color: #943126;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }